/src/rel_err.png
/src/errmat_10_.mat
/src/errmat_10_1_1.000000e-02.mat
/src/errmat_10_1_1.250000e-03.mat
/src/errmat_10_1_1200.mat
/src/errmat_10_1_2.000000e-02.mat
/src/errmat_10_1_2.500000e-03.mat
/src/errmat_10_1_5.000000e-03.mat
/src/errmat_10_20_1.000000e-02.mat
/src/errmat_10_20_1.250000e-03.mat
/src/errmat_10_20_5.000000e-03.mat
/src/errmat_10_5_1.000000e-02.mat
/src/errmat_10_5_1.250000e-03.mat
/src/errmat_10_5_2.000000e-02.mat
/src/errmat_10_5_2.500000e-03.mat
/src/errmat_10_5_5.000000e-03.mat
/src/errmat_12_.mat
/src/errmat_14_.mat
/src/errmat_16_.mat
/src/errmat_18_.mat
/src/errmat_20_.mat
/src/errmat_20_1_1.000000e-02.mat
/src/errmat_20_1_1.250000e-03.mat
/src/errmat_20_1_1200.mat
/src/errmat_20_1_5.000000e-03.mat
/src/errmat_20_20_1.000000e-02.mat
/src/errmat_20_20_1.250000e-03.mat
/src/errmat_20_20_5.000000e-03.mat
/src/errmat_20_5_1.000000e-02.mat
/src/errmat_20_5_1.250000e-03.mat
/src/errmat_20_5_5.000000e-03.mat
/src/errmat_22_.mat
/src/errmat_24_.mat
/src/errmat_26_.mat
/src/errmat_28_.mat
/src/errmat_30_.mat
/src/errmat_30_1_1.000000e-02.mat
/src/errmat_30_1_1.250000e-03.mat
/src/errmat_30_1_1200.mat
/src/errmat_30_1_5.000000e-03.mat
/src/errmat_30_5_1.000000e-02.mat
/src/errmat_30_5_1.250000e-03.mat
/src/errmat_30_5_5.000000e-03.mat
/src/errmat_32_.mat
/src/errmat_34_.mat
/src/errmat_36_.mat
/src/errmat_38_.mat
/src/errmat_40_.mat
/src/errmat_40_1_1200.mat
/src/errmat_42_.mat
/src/errmat_44_.mat
/src/errmat_46_.mat
/src/errmat_48_.mat
/src/errmat_50_.mat
/src/errmat_50_1_1200.mat
/src/errmat_52_.mat
/src/errmat_54_.mat
/src/errmat_56_.mat
/src/errmat_60_1_1200.mat
/src/errmat_70_1_1200.mat
/src/errmat_80_1_1200.mat
/src/errmax_10_1_1.000000e-02.mat
/src/errmax_10_1_1.250000e-03.mat
/src/errmax_10_1_1200.mat
/src/errmax_10_1_2.000000e-02.mat
/src/errmax_10_1_2.500000e-03.mat
/src/errmax_10_1_5.000000e-03.mat
/src/errmax_10_20_1.000000e-02.mat
/src/errmax_10_20_1.250000e-03.mat
/src/errmax_10_20_5.000000e-03.mat
/src/errmax_10_5_1.000000e-02.mat
/src/errmax_10_5_1.250000e-03.mat
/src/errmax_10_5_2.000000e-02.mat
/src/errmax_10_5_2.500000e-03.mat
/src/errmax_10_5_5.000000e-03.mat
/src/errmax_20_1_1.000000e-02.mat
/src/errmax_20_1_1.250000e-03.mat
/src/errmax_20_1_1200.mat
/src/errmax_20_1_5.000000e-03.mat
/src/errmax_20_20_1.000000e-02.mat
/src/errmax_20_20_1.250000e-03.mat
/src/errmax_20_20_5.000000e-03.mat
/src/errmax_20_5_1.000000e-02.mat
/src/errmax_20_5_1.250000e-03.mat
/src/errmax_20_5_5.000000e-03.mat
/src/errmax_30_1_1.000000e-02.mat
/src/errmax_30_1_1.250000e-03.mat
/src/errmax_30_1_1200.mat
/src/errmax_30_1_5.000000e-03.mat
/src/errmax_30_5_1.000000e-02.mat
/src/errmax_30_5_1.250000e-03.mat
/src/errmax_30_5_5.000000e-03.mat
/src/errmax_40_1_1200.mat
/src/errmax_50_1_1200.mat
/src/errmax_60_1_1200.mat
/src/errmax_70_1_1200.mat
/src/errmax_80_1_1200.mat
/src/errrel_10_.mat
/src/errrel_12_.mat
/src/errrel_14_.mat
/src/errrel_16_.mat
/src/errrel_18_.mat
/src/errrel_20_.mat
/src/errrel_22_.mat
/src/errrel_24_.mat
/src/errrel_26_.mat
/src/errrel_28_.mat
/src/errrel_30_.mat
/src/errrel_32_.mat
/src/errrel_34_.mat
/src/errrel_36_.mat
/src/errrel_38_.mat
/src/errrel_40_.mat
/src/errrel_42_.mat
/src/errrel_44_.mat
/src/errrel_46_.mat
/src/errrel_48_.mat
/src/errrel_50_.mat
/src/errrel_52_.mat
/src/errrel_54_.mat
/src/errrel_56_.mat
#################
## MATLAB
#################

*.asv

# Video output from Matlab
*.avi

# avisynth script
*.avs

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini


#############
## Python
#############

*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

# Mac crap
.DS_Store
